<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>LUWRAIN Social приветствует вас!</title>
#parse("inc-head-links.vm")
  </head>
  <body>
    <div class="container_nbs">
#parse("inc-header-login.vm")
      <main style="max-width: 60rem; min-width: 50rem; margin: 0 auto;">
        <h1>LUWRAIN Social</h1>
        <h2>Начните вашу работу!</h2>
        <p>У вас нет созданных работ или презентаций. Чтобы их создать, воспользуйтесь одной из ссылок ниже:</p>
        <ul>
          <li><a href="/publication/create/">Создать новую работу</a></li>
          <li><a href="/presentation/create/">Создать новую презентацию</a></li>
        </ul>
        <p><strong>ВНИМАНИЕ!</strong> Вы работаете в отладочной версии LUWRAIN Social.</p>
      </main>
#parse("inc-footer.vm")
    </div>
  </body>
</html>
