<header class="header navbar navbar-expand-lg shadow-sm mb-3">
  <div class="container-fluid">
    <!-- Логотип -->
    <a href="/" class="navbar-brand d-flex align-items-center">
      <img src="/decoration/logo.png" alt="Логотип" class="me-2" style="height: 30px;">
      <span class="fw-bold text-secondary d-none d-sm-inline">LUWRAIN SOCIAL</span>
    </a>
    
    <!-- Кнопка бургер-меню -->
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarContent" aria-controls="navbarContent" 
            aria-expanded="false" aria-label="Переключить навигацию">
      <svg class="burger-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 12H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
        <path d="M5 17H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
        <path d="M5 7H20" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
      </svg>
    </button>
    
    <!-- Основное содержимое хедера -->
    <div class="collapse navbar-collapse" id="navbarContent">
      <!-- Основные ссылки -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="aButton nav-link" href="/features/" title="Какие полезные возможности предлагает LUWRAIN Social?">Что это?</a>
        </li>
        <li class="nav-item">
          <a class="aButton nav-link" href="https://t.me/LUWRAINru" title="Наш канал в Телеграм">Новости</a>
        </li>
        <li class="nav-item">
          <a class="aButton nav-link" href="/rules" title="Правила использования">Правила</a>
        </li>
      </ul>
    </div>
  </div>
</header>