<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Новая работа &#x2014; LUWRAIN Social</title>
#parse("inc-head-links.vm")
  </head>
  <body>
    <div class="container_nbs">
#parse("inc-header-login.vm")
      <main style="max-width: 60rem; min-width: 50rem; margin: 0 auto;">
#if($TYPE == "GRADUATE")
        <h1>Новая выпускная квалификационная работа</h1>
        <p>Укажите информацию о&#160;вашей новой ВКР:</p>
#end
#if($TYPE == "PAPER_MCOL")
        <h1>Новая статья</h1>
        <p>Укажите информацию о&#160;вашей новой статье:</p>
#end
#if($TYPE == "THESIS")
        <h1>Новая диссертация на&#160;соискание степени кандидата наук</h1>
        <p>Укажите информацию о&#160;вашей новой диссертации:</p>
	#end
#if($MESSAGE != "")
        <p><strong>Попробуйте ещё раз!</strong> $MESSAGE</p>
#end
        <form action="/publication/create/_handle/" method="post" enctype="application/x-www-form-urlencoded">
          <div class="input-group">
            <input type="text" name="name" id="name" value="$NAME" maxlength="50" placeholder="Моя ВКР" required>
            <label for="name"><b>Название </b></label>
          </div>
          <div class="input-group">
            <input type="text" name="title" id="title" value="$TITLE" maxlength="200" placeholder="Анализ психологии межзвёздного разума">
            <label for="title"><b>Заглавие </b></label>
          </div>
          <div class="input-group">
            <input type="text" name="subject" id="subject" value="$SUBJECT" maxlength="50" placeholder="Астропсихология">
            <label for="subject"><b>Предмет</b></label>
          </div>
          <div class="input-group">
            <input type="text" name="authors" id="authors" value="$AUTHORS" maxlength="100" placeholder="Сатурн Уранович Нептунов">
            <label for="authors"><b>Авторы </b></label>
          </div>
          <div class="input-group">
            <input type="text" name="location" id="location" value="$CITY" maxlength="30" placeholder="Ганимед">
            <label for="location"><b>Город создания </b></label>
          </div>
          <div class="input-group">
            <input type="text" name="date" id="date" value="$YEAR" maxlength="30" placeholder="2024">
            <label for="date"><b>Год создания </b></label>
          </div>
	  <input type="hidden" name="type" value="$TYPE">
          <button class="aButton" style="width: 13rem;" type="submit">Создать</button>
        </form>
	<p>Поле &#171;Название&#187; является обязательным.
          Оно не&#160;используется в&#160;самой работе и является только внутренним обозначением для&#160вашего удобства.
          Название работы, которое будет отображаться на&#160;титульном листе, должно быть задано в&#160;поле &#171;Заглавие&#187;. Если вы оставите это поле пустым, будет использовано значение поля &#171;Название&#187;.
          Значение в&#160;поле &#171;Предмет&#187; используется для&#160;группировки ваших материалов и не&#160;используется при&#160;форматировании работы для&#160;печати.</p>
      </main>
#parse("inc-footer.vm")
    </div>
  </body>
</html>
